extends ../layout

block content

    h1 Genre: #{genre.name}

    div(style='margin-left:20px;margin-top:20px', class="content-detail-genre")

        h4 Books

        dl
            each book in genreBooks
                div
                    dt
                        a(href=book.url) #{book.title}
                    dd #{book.summary}

            else
                p This genre has no books

    br
    hr
    div.bottom-buttons
        p
            a(href=genre.url + '/delete') Delete Book
        p
            a(href=genre.url + '/update') Update Book