extends ../layout

block content
    h1= title

    ul.content-ul-list
        each author in list_authors
            li
                if author.date_of_birth_formatted
                    a(href=author.url) #{author.name}
                    |  (#{author.date_of_birth_formatted} - #{author.date_of_dead_formatted})
                else
                    a(href=author.url) #{author.name}

        else
            li There are no authors.